<form id="login" method="post" action="/session">
  <label for="first_name">First Name:</label>
  <input type="text" name="first_name" placeholder="First Name">
  <label for="first_name">Last Name:</label>
  <input type="text" name="last_name" placeholder="Last Name">
  <input type="submit" value="Login">
</form>
