<nav>
  <% if logged_in? %>
    <a>Hello, <%=current_user.first_name%></a>
    <form id="logout" action="/sessions" method="post">
      <input type="submit" value="Logout">
    </form>
  <% else %>
    <a id ="login" href="/login">Login</a>
  <% end %>
</nav>
